<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessify!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <div class="container-fluid bg-dark text-light p-2">
            <div class="container">
                <h1>Welcome to Guessify!</h1>
            </div>
        </div>

        <div class="container">
            <p class="mt-2">Guessify is a fun little application which predicts your age,
              gender and nationality based on your name.
              To give it a go, all you have to do is,</p>
            <ul>
                <li>Open the website</li>
                <li>Type the URL - https://localhost:5000/guess/your_name</li>
                <li>Hit Enter</li>
            </ul>
            <p>You should then see the predictions made by Guessify.</p>
            <h2>Have Fun 😀😉</h2>
        </div>

    </main>
    <footer class="container-fluid bg-secondary text-light p-2 fixed-bottom">
        <div class="container">
            <p>
                &copy Copyright {{ year }}. Built by Prakhar.
            </p>
        </div>
    </footer>

</body>
</html>