<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessify!</title>
</head>
<body>
    <h1>Welcome to Guessify!</h1>
    <p>Guessify is a fun little application which predicts your age,
      gender and nationality based on your name.
      To give it a go, all you have to do is,</p>
    <ul>
        <li>Open the website</li>
        <li>Type the URL - https://localhost:5000/guess/your_name</li>
        <li>Hit Enter</li>
    </ul>
    <p>You should then see the predictions made by Guessify.</p>
    <h2>Have Fun :)</h2>

    <footer>
        <p>
            &copy Copyright {{ year }}. Built by Prakhar.
        </p>
    </footer>
</body>
</html>